.collection-page {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  .title {
    font-size: 3rem;
    margin: 0 auto 1.9rem;
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .collection-item {
      margin-bottom: 1.75rem;
    }
  }
}
