.cart-dropdown {
  position: absolute;
  width: 15rem;
  height: 21.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 1px solid black;
  background-color: white;
  top: 5.75rem;
  right: 2.5rem;
  z-index: 5;

  .empty-message {
    font-size: 1.15rem;
    margin: 3rem auto;
  }
  .cart-items {
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  button {
    margin-top: auto;
  }
}
