body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

/*
 turn off input number spinner
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
